body{
    background-color: #293742;
    margin: 0;
    padding: 0;
}

.app-header{
    display: flex;
    justify-content: space-between;
}

.app-title{
    margin-top: 20px;
    margin-left: 20px;
    width: 50%;
}

.app-search-field{
    margin-top: 20px;
    margin-right: 20px;
    width: 50%;
}

.app-intro{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.candidate-tag{
    display: flex;
}

.tag{
    margin-left: 3px;
}

.candidate-header-top{
    display: flex;
    justify-content: space-between;
}

.candidate-header-bottom{
    display: flex;
    justify-content: space-between;
}

.candidate-urls{
    display: flex;
}

.url{
    margin-left: 3px;
}

.candidate h2{
    margin-top: 15px;
}

.jobs-header{
    display: flex;
}

.jobs-header-link{
    margin-right: 3px;
}

.jobs-header-separator{
    margin-right: 3px;
}

.candidate-alone-job{
    margin-bottom: 15px;
}

.candidate-alone-contribution{
    margin-bottom: 15px;
}

.jobs-description{
    margin-bottom: 5px;
}

.contribution-description{
    margin-bottom: 5px;
}

.separator{
    width: 25px;
    border-bottom: 3px white Solid;
}

.candidate-name{
    display: flex;
    align-items: baseline;
}

.candidate-pronouns{
    margin-left: 10px;
}

.profile-list-component{
    margin-left: 15px;
    margin-right: 15px;
}

.profile-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.pro-tag{
    margin-left: 2px;
    margin-right: 2px;
}

.pub-tag{
    margin-left: 2px;
    margin-right: 2px;
}

.both-flag-tag{
    margin-left: 2px;
    margin-right: 2px;
}

.no-flag-tag{
    margin-left: 2px;
    margin-right: 2px;
}
